# NCI GDC Data Analysis

Datasets were pulled from https://portal.gdc.cancer.gov/analysis_page?app=CohortBuilder&tab=general_diagnosis 
They were filtered for Breast Cancer before pulled. Need to check with Arjita on the exact process of that

## Load Packages

In [4]:
import pandas as pd
import plotly.express as px
import numpy as np
import requests
from io import StringIO
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('future.no_silent_downcasting', True)

## Import Data from Github

Pull in gene dataset.

In [8]:
response = requests.get('https://raw.githubusercontent.com/aaditya0106/cancer-dashboard/main/Data/HierCluster.2024-11-19.tsv')
if response.status_code == 200:
    gene = pd.read_csv(StringIO(response.text), sep='\t')
    print("Data loaded successfully!")
else:
    print(f"Failed to fetch data: {response.status_code}")

Data loaded successfully!

Pull in clinical dataset.

In [10]:
response = requests.get('https://raw.githubusercontent.com/aaditya0106/cancer-dashboard/main/Data/clinical.tsv')
if response.status_code == 200:
    clinical = pd.read_csv(StringIO(response.text), sep='\t')
    print("Data loaded successfully!")
else:
    print(f"Failed to fetch data: {response.status_code}")

Data loaded successfully!

## Basic gene data exploration

In [14]:
gene.head()

,Case,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,...,DSG2,PGGHG,MYH14,PTPRU,CEP170B,TRPM4,AGRN,LAMA5,SLC17A9,SMIM24
0,TCGA-AC-A2QJ,-0.850784,-0.067790,-0.373197,0.353471,-0.424534,-0.627105,-0.225790,-0.428333,-0.396251,...,-1.360506,-0.405373,-1.069204,-0.642400,-0.293741,-0.317442,1.454789,-0.886521,2.645691,0.438836
1,TCGA-FA-A7DS,-0.903327,-0.984412,-0.434487,-0.533308,-0.510474,-0.649774,-0.417569,-0.591520,-0.415010,...,-1.479773,-0.243668,-1.159843,-1.038820,-1.792239,2.025728,-1.518411,-0.801080,4.244228,-0.274578
2,TCGA-A2-A4S1,-0.749352,-0.266099,-0.379331,0.198941,-0.155934,-0.530950,-0.325875,-0.373839,-0.306217,...,-1.429917,0.136463,-1.169063,-0.786902,-0.390244,-0.130008,0.732697,-0.683839,0.121208,-0.107634
3,TCGA-AR-A5QQ,0.292535,-0.049525,-0.475821,0.243683,-0.502936,-0.565909,-0.318526,-0.471878,-0.377541,...,-0.485598,-0.440984,-0.992049,-0.228702,-0.046550,-1.026940,1.468554,-0.556163,-0.100514,-0.221282
4,TCGA-E9-A5FL,-0.787100,0.226868,-0.429163,0.435614,-0.384482,-0.507950,0.562074,-0.480450,-0.251577,...,-0.915629,1.068320,-0.543074,-0.115328,0.107458,-0.455221,0.150628,0.788012,-0.333208,1.210650

In [16]:
gene.shape

(1000, 1001)

In [18]:
gene.dtypes

Case        object
ANO1       float64
CTTN       float64
GAB2       float64
TSKU       float64
            ...
TRPM4      float64
AGRN       float64
LAMA5      float64
SLC17A9    float64
SMIM24     float64
Length: 1001, dtype: object

Determine if any values are Null. There are no null values and there are no duplicate samples.

In [21]:
gene.isnull().any().value_counts()

False    1001
Name: count, dtype: int64

In [23]:
gene['Case'].duplicated().sum()

0

## Basic clinical data exploration

In [27]:
clinical.head()

,case_id,case_submitter_id,project_id,age_at_index,age_is_obfuscated,cause_of_death,cause_of_death_source,country_of_birth,country_of_residence_at_enrollment,days_to_birth,...,treatment_dose_units,treatment_duration,treatment_effect,treatment_effect_indicator,treatment_frequency,treatment_intent_type,treatment_or_therapy,treatment_outcome,treatment_outcome_duration,treatment_type
0,00016c8f-a0be-4319-9c42-4f3bcd90ac92,AD1602,FM-AD,'--,'--,'--,'--,'--,'--,'--,...,'--,'--,'--,'--,'--,'--,'--,'--,'--,'--
1,001cef41-ff86-4d3f-a140-a647ac4b10a1,TCGA-E2-A1IU,TCGA-BRCA,60,'--,'--,'--,'--,'--,-22279,...,'--,'--,'--,'--,'--,'--,no,'--,'--,"Radiation Therapy, NOS"
2,001cef41-ff86-4d3f-a140-a647ac4b10a1,TCGA-E2-A1IU,TCGA-BRCA,60,'--,'--,'--,'--,'--,-22279,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Pharmaceutical Therapy, NOS"
3,002cdb51-32c0-40be-b92f-60961f091bdf,AD16494,FM-AD,'--,'--,'--,'--,'--,'--,'--,...,'--,'--,'--,'--,'--,'--,'--,'--,'--,'--
4,0045349c-69d9-4306-a403-c9c1fa836644,TCGA-A1-A0SB,TCGA-BRCA,70,'--,'--,'--,'--,'--,-25833,...,'--,'--,'--,'--,'--,'--,not reported,'--,'--,"Radiation Therapy, NOS"

In [29]:
clinical.columns

Index(['case_id', 'case_submitter_id', 'project_id', 'age_at_index',
       'age_is_obfuscated', 'cause_of_death', 'cause_of_death_source',
       'country_of_birth', 'country_of_residence_at_enrollment',
       'days_to_birth',
       ...
       'treatment_dose_units', 'treatment_duration', 'treatment_effect',
       'treatment_effect_indicator', 'treatment_frequency',
       'treatment_intent_type', 'treatment_or_therapy', 'treatment_outcome',
       'treatment_outcome_duration', 'treatment_type'],
      dtype='object', length=219)

In [31]:
clinical.shape

(5268, 219)

Make sure tissue of origin is breast related. These are the types of tissues currently included.

In [34]:
# Generate the summary table of what tissue_or_organ_of_origin is
summary_table = clinical['tissue_or_organ_of_origin'].value_counts()

# Display the summary table
print(summary_table)

tissue_or_organ_of_origin
Breast, NOS                       5175
Not Reported                        72
Lower-inner quadrant of breast       6
Upper-inner quadrant of breast       4
Upper-outer quadrant of breast       4
Overlapping lesion of breast         4
Lower-outer quadrant of breast       2
'--                                  1
Name: count, dtype: int64

Remove rows where tissue or organ of origin are Not Reported or '--

In [37]:
clinicalBreast = clinical[~clinical['tissue_or_organ_of_origin'].isin(['Not Reported', "'--"])]

# Check the result
print(clinicalBreast['tissue_or_organ_of_origin'].value_counts())

tissue_or_organ_of_origin
Breast, NOS                       5175
Lower-inner quadrant of breast       6
Upper-inner quadrant of breast       4
Upper-outer quadrant of breast       4
Overlapping lesion of breast         4
Lower-outer quadrant of breast       2
Name: count, dtype: int64

In [39]:
clinicalBreast.head()

,case_id,case_submitter_id,project_id,age_at_index,age_is_obfuscated,cause_of_death,cause_of_death_source,country_of_birth,country_of_residence_at_enrollment,days_to_birth,...,treatment_dose_units,treatment_duration,treatment_effect,treatment_effect_indicator,treatment_frequency,treatment_intent_type,treatment_or_therapy,treatment_outcome,treatment_outcome_duration,treatment_type
0,00016c8f-a0be-4319-9c42-4f3bcd90ac92,AD1602,FM-AD,'--,'--,'--,'--,'--,'--,'--,...,'--,'--,'--,'--,'--,'--,'--,'--,'--,'--
1,001cef41-ff86-4d3f-a140-a647ac4b10a1,TCGA-E2-A1IU,TCGA-BRCA,60,'--,'--,'--,'--,'--,-22279,...,'--,'--,'--,'--,'--,'--,no,'--,'--,"Radiation Therapy, NOS"
2,001cef41-ff86-4d3f-a140-a647ac4b10a1,TCGA-E2-A1IU,TCGA-BRCA,60,'--,'--,'--,'--,'--,-22279,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Pharmaceutical Therapy, NOS"
3,002cdb51-32c0-40be-b92f-60961f091bdf,AD16494,FM-AD,'--,'--,'--,'--,'--,'--,'--,...,'--,'--,'--,'--,'--,'--,'--,'--,'--,'--
4,0045349c-69d9-4306-a403-c9c1fa836644,TCGA-A1-A0SB,TCGA-BRCA,70,'--,'--,'--,'--,'--,-25833,...,'--,'--,'--,'--,'--,'--,not reported,'--,'--,"Radiation Therapy, NOS"

Check that 73 invalid rows were removed

In [42]:
clinicalBreast.shape

(5195, 219)

Get number of duplicate case_submitter_id numbers. These are patients with multiple rows of data.

In [45]:
clinicalBreast['case_submitter_id'].duplicated().sum()

1148

Get a table of the duplicates

In [48]:
# Identify all rows with duplicates
all_duplicates = clinicalBreast[clinicalBreast['case_submitter_id'].duplicated(keep=False)]

## Merge gene and clinicalBreast

In [51]:
geneClinical = gene.merge(clinicalBreast, left_on='Case', right_on='case_submitter_id', how='inner')

In [53]:
geneClinical.shape

(1854, 1220)

Check results for a duplicate case_submitter_id. We want to make sure each case_submitter_id/case always gets the same gene expression data

In [56]:
geneClinical['case_submitter_id'].duplicated().sum()

855

Get a table of the duplicates

In [59]:
# Identify all rows with duplicates
all_duplicatesMerge = geneClinical[geneClinical['case_submitter_id'].duplicated(keep=False)]

In [61]:
all_duplicatesMerge.head()

,Case,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,...,treatment_dose_units,treatment_duration,treatment_effect,treatment_effect_indicator,treatment_frequency,treatment_intent_type,treatment_or_therapy,treatment_outcome,treatment_outcome_duration,treatment_type
0,TCGA-AC-A2QJ,-0.850784,-0.067790,-0.373197,0.353471,-0.424534,-0.627105,-0.225790,-0.428333,-0.396251,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Radiation Therapy, NOS"
1,TCGA-AC-A2QJ,-0.850784,-0.067790,-0.373197,0.353471,-0.424534,-0.627105,-0.225790,-0.428333,-0.396251,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Pharmaceutical Therapy, NOS"
2,TCGA-FA-A7DS,-0.903327,-0.984412,-0.434487,-0.533308,-0.510474,-0.649774,-0.417569,-0.591520,-0.415010,...,'--,'--,'--,'--,'--,'--,no,'--,'--,"Radiation Therapy, NOS"
3,TCGA-FA-A7DS,-0.903327,-0.984412,-0.434487,-0.533308,-0.510474,-0.649774,-0.417569,-0.591520,-0.415010,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Pharmaceutical Therapy, NOS"
4,TCGA-A2-A4S1,-0.749352,-0.266099,-0.379331,0.198941,-0.155934,-0.530950,-0.325875,-0.373839,-0.306217,...,'--,'--,'--,'--,'--,'--,yes,'--,'--,"Radiation Therapy, NOS"

If I drop clinical columns, then drop duplicates. Do I get a table 1000 rows long?

In [74]:
short = geneClinical.iloc[:, 0:1001]
short.shape

(1854, 1001)

In [76]:
short.columns

Index(['Case', 'ANO1', 'CTTN', 'GAB2', 'TSKU', 'PEG10', 'TSPAN12', 'VSIG2',
       'INHBB', 'CLU',
       ...
       'DSG2', 'PGGHG', 'MYH14', 'PTPRU', 'CEP170B', 'TRPM4', 'AGRN', 'LAMA5',
       'SLC17A9', 'SMIM24'],
      dtype='object', length=1001)

In [78]:
shortNoDup = short.drop_duplicates()
shortNoDup.shape

(999, 1001)

I have less than the 1000 samples I started with. Check what happened to one sample.

In [81]:
# Get indices where 'Case' in 'gene' is not in 'shortNoDup'
indices_not_in_shortNoDup = gene[~gene['Case'].isin(shortNoDup['Case'])].index

# Print the result
print(indices_not_in_shortNoDup)

Index([697], dtype='int64')

In [83]:
# print rows that do not have a case in the merged dataset
gene.iloc[indices_not_in_shortNoDup, :]

,Case,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,...,DSG2,PGGHG,MYH14,PTPRU,CEP170B,TRPM4,AGRN,LAMA5,SLC17A9,SMIM24
697,TCGA-BH-A0B2,-0.335215,-0.533468,-0.303364,-0.265946,-0.48188,-0.443199,-0.26824,-0.563447,-0.012233,...,-0.189918,-0.225109,-0.636121,-0.661413,0.303512,-0.515584,0.059583,-0.343663,-0.444788,0.077625

In [85]:
gene[gene['Case'] == 'TCGA-BH-A0B2']

,Case,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,...,DSG2,PGGHG,MYH14,PTPRU,CEP170B,TRPM4,AGRN,LAMA5,SLC17A9,SMIM24
697,TCGA-BH-A0B2,-0.335215,-0.533468,-0.303364,-0.265946,-0.48188,-0.443199,-0.26824,-0.563447,-0.012233,...,-0.189918,-0.225109,-0.636121,-0.661413,0.303512,-0.515584,0.059583,-0.343663,-0.444788,0.077625

In [58]:
clinicalBreast[clinicalBreast['case_submitter_id'] == 'TCGA-BH-A0B2']

Empty DataFrame
Columns: [case_id, case_submitter_id, project_id, age_at_index, age_is_obfuscated, cause_of_death, cause_of_death_source, country_of_birth, country_of_residence_at_enrollment, days_to_birth, days_to_death, education_level, ethnicity, gender, marital_status, occupation_duration_years, population_group, premature_at_birth, race, vital_status, weeks_gestation_at_birth, year_of_birth, year_of_death, adrenal_hormone, age_at_diagnosis, ajcc_clinical_m, ajcc_clinical_n, ajcc_clinical_stage, ajcc_clinical_t, ajcc_pathologic_m, ajcc_pathologic_n, ajcc_pathologic_stage, ajcc_pathologic_t, ajcc_serum_tumor_markers, ajcc_staging_system_edition, ann_arbor_b_symptoms, ann_arbor_b_symptoms_described, ann_arbor_clinical_stage, ann_arbor_extranodal_involvement, ann_arbor_pathologic_stage, best_overall_response, burkitt_lymphoma_clinical_variant, calgb_risk_group, cancer_detection_method, child_pugh_classification, clark_level, classification_of_tumor, cog_liver_stage, cog_neuroblastoma_risk_group, cog_renal_stage, cog_rhabdomyosarcoma_risk_group, contiguous_organ_invaded, days_to_best_overall_response, days_to_diagnosis, days_to_last_follow_up, days_to_last_known_disease_status, days_to_recurrence, diagnosis_is_primary_disease, double_expressor_lymphoma, double_hit_lymphoma, eln_risk_classification, enneking_msts_grade, enneking_msts_metastasis, enneking_msts_stage, enneking_msts_tumor_site, ensat_clinical_m, ensat_pathologic_n, ensat_pathologic_stage, ensat_pathologic_t, esophageal_columnar_dysplasia_degree, esophageal_columnar_metaplasia_present, fab_morphology_code, figo_stage, figo_staging_edition_year, first_symptom_longest_duration, first_symptom_prior_to_diagnosis, gastric_esophageal_junction_involvement, gleason_grade_group, gleason_grade_tertiary, gleason_patterns_percent, gleason_score, goblet_cells_columnar_mucosa_present, icd_10_code, igcccg_stage, inpc_grade, inpc_histologic_group, inrg_stage, inss_stage, international_prognostic_index, irs_group, irs_stage, ishak_fibrosis_score, iss_stage, last_known_disease_status, laterality, margin_distance, margins_involved_site, masaoka_stage, max_tumor_bulk_site, medulloblastoma_molecular_classification, ...]
Index: []

[0 rows x 219 columns]

In [60]:
clinical[clinical['case_submitter_id'] == 'TCGA-BH-A0B2']

,case_id,case_submitter_id,project_id,age_at_index,age_is_obfuscated,cause_of_death,cause_of_death_source,country_of_birth,country_of_residence_at_enrollment,days_to_birth,...,treatment_dose_units,treatment_duration,treatment_effect,treatment_effect_indicator,treatment_frequency,treatment_intent_type,treatment_or_therapy,treatment_outcome,treatment_outcome_duration,treatment_type
1810,57a1604c-60b7-4b30-a75e-f70939532c5c,TCGA-BH-A0B2,TCGA-BRCA,'--,'--,'--,'--,'--,'--,'--,...,'--,'--,'--,'--,'--,'--,'--,'--,'--,'--

Case 'TCGA-BH-A0B2' was in clinical. However, the tissue or ogan was equal to '-- so it got removed when I created breastClinical. It is rightfully not present in the merged data

## Explore the merged data

In [89]:
geneClinical2 = geneClinical.replace("'--", np.NaN)

In [91]:
# Report the number of nulls per column
null_counts = geneClinical2.isnull().sum()

In [93]:
# Filter columns where the number of nulls is <= 1800 (Total number of rows is 1854)
columns_to_keep = null_counts[null_counts <= 1800].index

# Select only the columns to keep
filtered_geneClinical = geneClinical2[columns_to_keep]

print(f"Columns removed: {set(geneClinical2.columns) - set(filtered_geneClinical.columns)}")
print(f"Filtered DataFrame shape: {filtered_geneClinical.shape}")

Columns removed: {'method_of_diagnosis', 'weiss_assessment_findings', 'number_of_cycles', 'ensat_pathologic_t', 'weiss_assessment_score', 'population_group', 'therapeutic_level_achieved', 'best_overall_response', 'mitosis_karyorrhexis_index', 'tumor_depth', 'micropapillary_features', 'cog_liver_stage', 'satellite_nodule_present', 'uicc_pathologic_m', 'days_to_treatment_start', 'occupation_duration_years', 'course_number', 'circumferential_resection_margin', 'route_of_administration', 'inpc_grade', 'breslow_thickness', 'lesions_treated_number', 'country_of_birth', 'iss_stage', 'days_to_recurrence', 'ann_arbor_clinical_stage', 'ulceration_indicator', 'premature_at_birth', 'margins_involved_site', 'gleason_score', 'prescribed_dose', 'radiosensitizing_agent', 'weeks_gestation_at_birth', 'goblet_cells_columnar_mucosa_present', 'pediatric_kidney_staging', 'reason_treatment_ended', 'who_cns_grade', 'therapeutic_target_level', 'gastric_esophageal_junction_involvement', 'lymph_nodes_tested', 'uicc_clinical_n', 'esophageal_columnar_metaplasia_present', 'therapeutic_agents', 'treatment_dose', 'ann_arbor_extranodal_involvement', 'adrenal_hormone', 'cause_of_death', 'esophageal_columnar_dysplasia_degree', 'wilms_tumor_histologic_subtype', 'enneking_msts_stage', 'ajcc_clinical_n', 'peripancreatic_lymph_nodes_tested', 'ensat_pathologic_stage', 'non_nodal_tumor_deposits', 'secondary_gleason_grade', 'treatment_outcome', 'number_of_fractions', 'irs_group', 'ensat_clinical_m', 'country_of_residence_at_enrollment', 'ajcc_clinical_stage', 'metastasis_at_diagnosis', 'drug_category', 'laterality', 'percent_tumor_invasion', 'cause_of_death_source', 'anaplasia_present_type', 'margin_status', 'treatment_outcome_duration', 'burkitt_lymphoma_clinical_variant', 'transglottic_extension', 'education_level', 'clinical_trial_indicator', 'embolic_agent', 'ajcc_serum_tumor_markers', 'pretreatment', 'days_to_treatment_end', 'days_to_best_overall_response', 'eln_risk_classification', 'vascular_invasion_type', 'non_nodal_regional_disease', 'first_symptom_prior_to_diagnosis', 'ishak_fibrosis_score', 'ajcc_clinical_m', 'largest_extrapelvic_peritoneal_focus', 'perineural_invasion_present', 'lymph_nodes_positive', 'uicc_staging_system_edition', 'cog_rhabdomyosarcoma_risk_group', 'peripancreatic_lymph_nodes_positive', 'double_hit_lymphoma', 'irs_stage', 'treatment_duration', 'ann_arbor_b_symptoms', 'peritoneal_fluid_cytological_status', 'tumor_burden', 'melanoma_known_primary', 'ovarian_surface_involvement', 'fab_morphology_code', 'treatment_anatomic_sites', 'figo_staging_edition_year', 'gleason_grade_group', 'treatment_arm', 'cancer_detection_method', 'vascular_invasion_present', 'primary_disease', 'tumor_regression_grade', 'ann_arbor_b_symptoms_described', 'international_prognostic_index', 'tumor_of_origin', 'medulloblastoma_molecular_classification', 'therapeutic_levels_achieved', 'tumor_focality', 'first_symptom_longest_duration', 'treatment_anatomic_site', 'gross_tumor_weight', 'uicc_clinical_t', 'tumor_stage', 'ensat_pathologic_n', 'treatment_effect_indicator', 'ann_arbor_pathologic_stage', 'lymphatic_invasion_present', 'treatment_frequency', 'double_expressor_lymphoma', 'enneking_msts_metastasis', 'treatment_dose_units', 'chemo_concurrent_to_radiation', 'anaplasia_present', 'uicc_pathologic_t', 'uicc_pathologic_n', 'enneking_msts_grade', 'protocol_identifier', 'residual_disease', 'greatest_tumor_dimension', 'residual_disease.1', 'pregnant_at_diagnosis', 'margin_distance', 'inrg_stage', 'ovarian_specimen_status', 'max_tumor_bulk_site', 'contiguous_organ_invaded', 'uicc_clinical_stage', 'mitotic_count', 'clark_level', 'initial_disease_status', 'sites_of_involvement', 'age_is_obfuscated', 'tumor_grade_category', 'regimen_or_line_of_therapy', 'diagnosis_is_primary_disease', 'cog_renal_stage', 'margin_distance.1', 'timepoint_category', 'figo_stage', 'masaoka_stage', 'who_nte_grade', 'cog_neuroblastoma_risk_group', 'treatment_effect', 'uicc_pathologic_stage', 'ajcc_clinical_t', 'sites_of_involvement_count', 'margins_involved_site.1', 'gleason_grade_tertiary', 'marital_status', 'gleason_patterns_percent', 'prescribed_dose_units', 'child_pugh_classification', 'supratentorial_localization', 'primary_gleason_grade', 'uicc_clinical_m', 'igcccg_stage', 'enneking_msts_tumor_site', 'treatment_dose_max', 'tumor_largest_dimension_diameter', 'papillary_renal_cell_type', 'calgb_risk_group', 'treatment_intent_type', 'lymph_node_involved_site', 'days_to_last_known_disease_status', 'inpc_histologic_group', 'inss_stage', 'reason_treatment_not_given', 'tumor_confined_to_organ_of_origin', 'metastasis_at_diagnosis_site'}
Filtered DataFrame shape: (1854, 1036)

There are 1854 rows. When we removed columns that had >1800 nulls then we removed 184 columns. Now checking if there are other columns that have a high percentage of nulls

In [96]:
filtered_geneClinical.isnull().sum().sort_values(ascending = False)

year_of_death                  1690
days_to_death                  1615
ajcc_staging_system_edition     391
days_to_last_follow_up          332
ajcc_pathologic_stage           180
                               ...
COL7A1                            0
ITGB4                             0
RGS2                              0
IGSF3                             0
THBD                              0
Length: 1036, dtype: int64

I am going to remove year_of_death and days_to_death as these are at best 87% null. After those that amount of nulls drops sharply so I will keep those clinical columns

In [99]:
# Drop the specified columns from the DataFrame
filtered_geneClinical2 = filtered_geneClinical.drop(['year_of_death', 'days_to_death'], axis=1)

# Display the updated DataFrame shape
print(filtered_geneClinical2.shape)

(1854, 1034)

## Select top 20 genes for negative correlation, positive correlation, and 0 correlation

Normalize gene expression values.

In [106]:
# select only the columns with gene expression data
df = filtered_geneClinical2.iloc[:, 1:1001]
df.head()

,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,SCARA3,...,DSG2,PGGHG,MYH14,PTPRU,CEP170B,TRPM4,AGRN,LAMA5,SLC17A9,SMIM24
0,-0.850784,-0.067790,-0.373197,0.353471,-0.424534,-0.627105,-0.225790,-0.428333,-0.396251,-0.612892,...,-1.360506,-0.405373,-1.069204,-0.642400,-0.293741,-0.317442,1.454789,-0.886521,2.645691,0.438836
1,-0.850784,-0.067790,-0.373197,0.353471,-0.424534,-0.627105,-0.225790,-0.428333,-0.396251,-0.612892,...,-1.360506,-0.405373,-1.069204,-0.642400,-0.293741,-0.317442,1.454789,-0.886521,2.645691,0.438836
2,-0.903327,-0.984412,-0.434487,-0.533308,-0.510474,-0.649774,-0.417569,-0.591520,-0.415010,-0.941964,...,-1.479773,-0.243668,-1.159843,-1.038820,-1.792239,2.025728,-1.518411,-0.801080,4.244228,-0.274578
3,-0.903327,-0.984412,-0.434487,-0.533308,-0.510474,-0.649774,-0.417569,-0.591520,-0.415010,-0.941964,...,-1.479773,-0.243668,-1.159843,-1.038820,-1.792239,2.025728,-1.518411,-0.801080,4.244228,-0.274578
4,-0.749352,-0.266099,-0.379331,0.198941,-0.155934,-0.530950,-0.325875,-0.373839,-0.306217,-0.559285,...,-1.429917,0.136463,-1.169063,-0.786902,-0.390244,-0.130008,0.732697,-0.683839,0.121208,-0.107634

Check how the values within expression are distributed. It appears they have already had a zscale normalization

In [130]:
df.describe()

,ANO1,CTTN,GAB2,TSKU,PEG10,TSPAN12,VSIG2,INHBB,CLU,SCARA3,...,DSG2,PGGHG,MYH14,PTPRU,CEP170B,TRPM4,AGRN,LAMA5,SLC17A9,SMIM24
count,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,...,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000,1854.000000
mean,-0.042017,-0.031159,-0.002537,0.035314,0.015311,0.015453,0.003831,0.042372,0.023642,0.041370,...,0.006282,-0.038562,-0.025868,-0.004840,-0.077585,-0.083749,0.000017,-0.028731,-0.016722,-0.015515
std,0.946605,0.995601,1.027498,1.030280,1.018445,1.028501,1.028194,1.025184,1.034444,1.023584,...,1.015433,0.930549,0.971065,1.014431,0.935817,0.887914,1.006107,0.998272,1.012380,0.993762
min,-0.907599,-0.984412,-0.590751,-0.567719,-0.512177,-0.717005,-0.449186,-0.702381,-0.478979,-1.011691,...,-1.497170,-0.613398,-1.183664,-1.065260,-1.855873,-1.235358,-1.546819,-1.222995,-0.644641,-0.324721
25%,-0.587943,-0.459994,-0.351897,-0.364749,-0.491793,-0.466247,-0.416510,-0.478546,-0.334958,-0.580430,...,-0.614631,-0.514711,-0.608853,-0.629637,-0.688554,-0.630372,-0.691374,-0.605792,-0.490890,-0.253259
50%,-0.305595,-0.295415,-0.215921,-0.230250,-0.400690,-0.278502,-0.337263,-0.199083,-0.193071,-0.264849,...,-0.216286,-0.382874,-0.233680,-0.314676,-0.240961,-0.289620,-0.202239,-0.242559,-0.342845,-0.174742
75%,0.138393,-0.037386,-0.000003,0.032448,0.032737,0.068806,-0.087156,0.240975,0.087120,0.319227,...,0.361930,-0.011131,0.299686,0.258888,0.328498,0.218534,0.403774,0.271820,0.001558,-0.032232
max,9.833553,10.155726,18.408778,13.079163,7.136821,12.479516,8.994755,19.363065,25.873620,9.439862,...,6.738533,10.197265,12.509559,7.723142,7.667126,12.393779,5.619156,11.469196,10.522581,25.593419

In [108]:
# Calculate the mean and standard deviation across the entire DataFrame
global_mean = df.mean().mean()  # Mean of all values across the DataFrame
global_std = df.stack().std()   # Standard deviation of all values across the DataFrame

# Apply z-score normalization across all columns
z_scaled_df = (df - global_mean) / global_std

# Print the means and standard deviations of each column after z-score normalization
print("Means of each column after Z-score normalization:")
print(z_scaled_df.mean())

print("\nStandard deviations of each column after Z-score normalization:")
print(z_scaled_df.std())

Means of each column after Z-score normalization:
ANO1      -0.054742
CTTN      -0.043854
GAB2      -0.015154
TSKU       0.022801
PEG10      0.002743
             ...
TRPM4     -0.096589
AGRN      -0.012593
LAMA5     -0.041420
SLC17A9   -0.029377
SMIM24    -0.028167
Length: 1000, dtype: float64

Standard deviations of each column after Z-score normalization:
ANO1       0.949204
CTTN       0.998334
GAB2       1.030319
TSKU       1.033108
PEG10      1.021240
             ...
TRPM4      0.890351
AGRN       1.008869
LAMA5      1.001012
SLC17A9    1.015159
SMIM24     0.996490
Length: 1000, dtype: float64

In [128]:
outliers = np.where(np.abs(z_scaled_df) > 3)
z_scaled_df.iloc[outliers[0], outliers[1]]

,SEZ6L2,SHISA4,MT1E,MT2A,LGALS3BP,LY6E,IFITM3,MDK,QPRT,PTMS,...,KLF6,MAP1B,STAB1,EBF1,HSPG2,LAMA4,JMJD1C,ZEB2,ATP8B1,ITGA6
0,3.688623,4.890073,5.309587,9.467521,3.459353,9.692378,7.436839,10.080152,3.455297,3.260947,...,-0.492545,-0.230975,5.509996,0.975588,-0.677298,1.818215,-0.850062,-0.221916,-1.375788,-0.790258
0,3.688623,4.890073,5.309587,9.467521,3.459353,9.692378,7.436839,10.080152,3.455297,3.260947,...,-0.492545,-0.230975,5.509996,0.975588,-0.677298,1.818215,-0.850062,-0.221916,-1.375788,-0.790258
0,3.688623,4.890073,5.309587,9.467521,3.459353,9.692378,7.436839,10.080152,3.455297,3.260947,...,-0.492545,-0.230975,5.509996,0.975588,-0.677298,1.818215,-0.850062,-0.221916,-1.375788,-0.790258
0,3.688623,4.890073,5.309587,9.467521,3.459353,9.692378,7.436839,10.080152,3.455297,3.260947,...,-0.492545,-0.230975,5.509996,0.975588,-0.677298,1.818215,-0.850062,-0.221916,-1.375788,-0.790258
0,3.688623,4.890073,5.309587,9.467521,3.459353,9.692378,7.436839,10.080152,3.455297,3.260947,...,-0.492545,-0.230975,5.509996,0.975588,-0.677298,1.818215,-0.850062,-0.221916,-1.375788,-0.790258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,-0.865933,-0.360332,-0.572618,-0.697927,-1.139818,-0.697401,-0.587343,-0.364306,-0.751407,-0.648255,...,5.466517,3.702427,10.578955,5.675046,8.460060,5.976233,4.996285,7.838676,3.145775,4.670942
1853,-0.865933,-0.360332,-0.572618,-0.697927,-1.139818,-0.697401,-0.587343,-0.364306,-0.751407,-0.648255,...,5.466517,3.702427,10.578955,5.675046,8.460060,5.976233,4.996285,7.838676,3.145775,4.670942
1853,-0.865933,-0.360332,-0.572618,-0.697927,-1.139818,-0.697401,-0.587343,-0.364306,-0.751407,-0.648255,...,5.466517,3.702427,10.578955,5.675046,8.460060,5.976233,4.996285,7.838676,3.145775,4.670942
1853,-0.865933,-0.360332,-0.572618,-0.697927,-1.139818,-0.697401,-0.587343,-0.364306,-0.751407,-0.648255,...,5.466517,3.702427,10.578955,5.675046,8.460060,5.976233,4.996285,7.838676,3.145775,4.670942
1853,-0.865933,-0.360332,-0.572618,-0.697927,-1.139818,-0.697401,-0.587343,-0.364306,-0.751407,-0.648255,...,5.466517,3.702427,10.578955,5.675046,8.460060,5.976233,4.996285,7.838676,3.145775,4.670942

In [165]:


# Assuming 'df' is your normalized DataFrame (z-score normalized or any other normalization)

# Step 1: Calculate the mean of each column
column_means = df.mean()

# Step 2: Calculate the overall average of all column means
overall_avg = column_means.mean()

# Step 3: Find the 20 columns with the lowest means
lowest_means = column_means.nsmallest(10)

# Step 4: Find the 20 columns with the means closest to the overall average
# Calculate the absolute difference between each column mean and the overall average
means_diff = (column_means - overall_avg).abs()
closest_to_avg = means_diff.nsmallest(10)

# Step 5: Find the 20 columns with the highest means
highest_means = column_means.nlargest(10)

# Print the selected columns for each category
print("10 Columns with Lowest Means:")
print(lowest_means)

print("\n10 Columns with Means Closest to Overall Average:")
print(closest_to_avg)

print("\n10 Columns with Highest Means:")
print(highest_means)

# If you need to extract the data for further analysis, you can retrieve those columns
lowest_columns_df = df[lowest_means.index]
closest_columns_df = df[closest_to_avg.index]
highest_columns_df = df[highest_means.index]

10 Columns with Lowest Means:
ZNF460     -0.159031
JMJD1C     -0.153179
MYO15B     -0.151689
H1-4       -0.149048
PTPN13     -0.135398
DOCK8      -0.134468
KIAA1217   -0.134105
LRRK2      -0.133611
H2AC20     -0.133449
LRP1       -0.133000
dtype: float64

10 Columns with Means Closest to Overall Average:
ECM1       0.000027
LAMB2      0.000081
GMPR       0.000108
HOXA5      0.000167
SPARCL1    0.000167
CCL18      0.000175
MDK        0.000215
WFS1       0.000234
DEFB1      0.000278
FGR        0.000304
dtype: float64

10 Columns with Highest Means:
C1orf210    0.112276
SLC25A23    0.111444
KDF1        0.106806
TMEM30B     0.102402
NRSN2       0.101349
MARCKSL1    0.101255
GNG12       0.099743
TSPAN9      0.099430
SDC3        0.099212
AP1M2       0.098254
dtype: float64

In [175]:
# Step 4: Concatenate all three DataFrames (columns) into a single dataset
#combined_df = pd.concat([filtered_geneClinical2.iloc[:, 0], lowest_columns_df, closest_columns_df, highest_columns_df, filtered_geneClinical2.iloc[:, 1001:]], axis=1)
combined_df = pd.concat([filtered_geneClinical2.iloc[:, 0], lowest_columns_df, closest_columns_df, highest_columns_df], axis=1)

combined_df = combined_df.iloc[1:100, :]
# Check the combined dataset
print("Combined Dataset:")
print(combined_df.head())

Combined Dataset:
           Case    ZNF460    JMJD1C    MYO15B      H1-4    PTPN13     DOCK8  \
1  TCGA-AC-A2QJ -0.459712 -0.835159 -0.405481 -0.364717 -0.719390 -0.575544
2  TCGA-FA-A7DS -0.418185 -0.564656 -0.528449 -0.315927 -0.879971  0.884940
3  TCGA-FA-A7DS -0.418185 -0.564656 -0.528449 -0.315927 -0.879971  0.884940
4  TCGA-A2-A4S1 -0.444168 -0.626830 -0.186062 -0.378815  0.409918 -0.484448
5  TCGA-A2-A4S1 -0.444168 -0.626830 -0.186062 -0.378815  0.409918 -0.484448

   KIAA1217     LRRK2    H2AC20  ...  C1orf210  SLC25A23      KDF1   TMEM30B  \
1 -1.184278 -0.522422 -0.154486  ... -1.377201 -1.346133 -1.450447 -1.282813
2 -1.031766  0.886133 -0.299449  ... -1.549372 -1.451501 -1.742006 -1.366734
3 -1.031766  0.886133 -0.299449  ... -1.549372 -1.451501 -1.742006 -1.366734
4 -1.176890 -0.438415 -0.373105  ... -1.538816 -1.346663 -1.765835 -1.356105
5 -1.176890 -0.438415 -0.373105  ... -1.538816 -1.346663 -1.765835 -1.356105

      NRSN2  MARCKSL1     GNG12    TSPAN9      SDC3     AP1M2
1  2.426661  1.167107 -0.553730  3.390725  1.075438 -1.417186
2 -1.134574 -0.940719 -1.221788 -1.530985 -0.569951 -1.605459
3 -1.134574 -0.940719 -1.221788 -1.530985 -0.569951 -1.605459
4  1.080695 -1.093987 -0.164671  0.467288  7.890943 -1.606799
5  1.080695 -1.093987 -0.164671  0.467288  7.890943 -1.606799

[5 rows x 31 columns]

In [177]:
reshaped_df = combined_df.melt(id_vars=['Case'], var_name='Gene', value_name='Expression')

In [195]:
reshaped_dfNoDup = reshaped_df.drop_duplicates()

In [193]:
# a = x[x['Case'] == 'TCGA-AN-A0FL']
# a[a['Gene'] == "GMPR"]

              Case  Gene  Expression
1219  TCGA-AN-A0FL  GMPR   19.052012

In [197]:
reshaped_dfNoDup.to_csv('gene.csv')

In [110]:
## Output to csv to plot in Tableau

In [72]:
# filtered_geneClinical2.to_csv('nciClean.csv')

In [ ]:
# geneColumns = geneClinical.iloc[:, 0:51]

In [ ]:
# geneColumns.drop_duplicates()
# # geneColumns.head()
# geneColumns.set_index(geneColumns.columns[0], inplace=True)

In [ ]:
# # Create the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(geneColumns, annot=True, fmt=".2f", cmap='coolwarm', cbar=True)
# plt.title("Heatmap Example")
# plt.show()

Combine selected genes with selected clinical data

In [208]:
# Step 4: Concatenate all three DataFrames (columns) into a single dataset
combined_df = pd.concat([filtered_geneClinical2.iloc[:, 0], lowest_columns_df, closest_columns_df, highest_columns_df, filtered_geneClinical2.iloc[:, 1002:]], axis=1)

combined_df = combined_df.iloc[1:100, :]
# Check the combined dataset
print("Combined Dataset:")
print(combined_df.head())

Combined Dataset:
           Case    ZNF460    JMJD1C    MYO15B      H1-4    PTPN13     DOCK8  \
1  TCGA-AC-A2QJ -0.459712 -0.835159 -0.405481 -0.364717 -0.719390 -0.575544
2  TCGA-FA-A7DS -0.418185 -0.564656 -0.528449 -0.315927 -0.879971  0.884940
3  TCGA-FA-A7DS -0.418185 -0.564656 -0.528449 -0.315927 -0.879971  0.884940
4  TCGA-A2-A4S1 -0.444168 -0.626830 -0.186062 -0.378815  0.409918 -0.484448
5  TCGA-A2-A4S1 -0.444168 -0.626830 -0.186062 -0.378815  0.409918 -0.484448

   KIAA1217     LRRK2    H2AC20  ...  prior_malignancy  prior_treatment  \
1 -1.184278 -0.522422 -0.154486  ...                no               No
2 -1.031766  0.886133 -0.299449  ...                no               No
3 -1.031766  0.886133 -0.299449  ...                no               No
4 -1.176890 -0.438415 -0.373105  ...                no               No
5 -1.176890 -0.438415 -0.373105  ...                no               No

   progression_or_recurrence  site_of_resection_or_biopsy  \
1               not reported                  Breast, NOS
2               not reported                  Breast, NOS
3               not reported                  Breast, NOS
4               not reported                  Breast, NOS
5               not reported                  Breast, NOS

   synchronous_malignancy  tissue_or_organ_of_origin   tumor_grade  \
1                      No                Breast, NOS  Not Reported
2                      No                Breast, NOS  Not Reported
3                      No                Breast, NOS  Not Reported
4                      No                Breast, NOS  Not Reported
5                      No                Breast, NOS  Not Reported

   year_of_diagnosis  treatment_or_therapy               treatment_type
1               2011                   yes  Pharmaceutical Therapy, NOS
2               2013                    no       Radiation Therapy, NOS
3               2013                   yes  Pharmaceutical Therapy, NOS
4               2012                   yes       Radiation Therapy, NOS
5               2012                    no  Pharmaceutical Therapy, NOS

[5 rows x 63 columns]

In [214]:
combined_df.columns

Index(['Case', 'ZNF460', 'JMJD1C', 'MYO15B', 'H1-4', 'PTPN13', 'DOCK8',
       'KIAA1217', 'LRRK2', 'H2AC20', 'LRP1', 'ECM1', 'LAMB2', 'GMPR', 'HOXA5',
       'SPARCL1', 'CCL18', 'MDK', 'WFS1', 'DEFB1', 'FGR', 'C1orf210',
       'SLC25A23', 'KDF1', 'TMEM30B', 'NRSN2', 'MARCKSL1', 'GNG12', 'TSPAN9',
       'SDC3', 'AP1M2', 'case_submitter_id', 'project_id', 'age_at_index',
       'days_to_birth', 'ethnicity', 'gender', 'race', 'vital_status',
       'year_of_birth', 'age_at_diagnosis', 'ajcc_pathologic_m',
       'ajcc_pathologic_n', 'ajcc_pathologic_stage', 'ajcc_pathologic_t',
       'ajcc_staging_system_edition', 'classification_of_tumor',
       'days_to_diagnosis', 'days_to_last_follow_up', 'icd_10_code',
       'last_known_disease_status', 'morphology', 'primary_diagnosis',
       'prior_malignancy', 'prior_treatment', 'progression_or_recurrence',
       'site_of_resection_or_biopsy', 'synchronous_malignancy',
       'tissue_or_organ_of_origin', 'tumor_grade', 'year_of_diagnosis',
       'treatment_or_therapy', 'treatment_type'],
      dtype='object')

In [218]:

# Assuming 'df' is your original DataFrame
# List of all columns except the gene expression columns
id_vars = [
    'Case', 'case_submitter_id', 'project_id', 'age_at_index', 'days_to_birth', 'ethnicity', 
    'gender', 'race', 'vital_status', 'year_of_birth', 'age_at_diagnosis', 'ajcc_pathologic_m',
    'ajcc_pathologic_n', 'ajcc_pathologic_stage', 'ajcc_pathologic_t', 'ajcc_staging_system_edition',
    'classification_of_tumor', 'days_to_diagnosis', 'days_to_last_follow_up', 'icd_10_code',
    'last_known_disease_status', 'morphology', 'primary_diagnosis', 'prior_malignancy', 'prior_treatment',
    'progression_or_recurrence', 'site_of_resection_or_biopsy', 'synchronous_malignancy', 
    'tissue_or_organ_of_origin', 'tumor_grade', 'year_of_diagnosis', 'treatment_or_therapy', 'treatment_type'
]

# Step 1: Use melt to reshape the DataFrame
reshaped_df = combined_df.melt(id_vars=id_vars, var_name='Gene', value_name='Expression')

# Check the reshaped DataFrame
print(reshaped_df.head())

           Case case_submitter_id project_id age_at_index days_to_birth  \
0  TCGA-AC-A2QJ      TCGA-AC-A2QJ  TCGA-BRCA           48        -17569
1  TCGA-FA-A7DS      TCGA-FA-A7DS  TCGA-DLBC           54        -20087
2  TCGA-FA-A7DS      TCGA-FA-A7DS  TCGA-DLBC           54        -20087
3  TCGA-A2-A4S1      TCGA-A2-A4S1  TCGA-BRCA           66        -24353
4  TCGA-A2-A4S1      TCGA-A2-A4S1  TCGA-BRCA           66        -24353

                ethnicity  gender   race vital_status year_of_birth  ...  \
0      hispanic or latino  female  white         Dead          1963  ...
1  not hispanic or latino  female  asian        Alive          1959  ...
2  not hispanic or latino  female  asian        Alive          1959  ...
3  not hispanic or latino  female  white        Alive          1946  ...
4  not hispanic or latino  female  white        Alive          1946  ...

  progression_or_recurrence site_of_resection_or_biopsy  \
0              not reported                 Breast, NOS
1              not reported                 Breast, NOS
2              not reported                 Breast, NOS
3              not reported                 Breast, NOS
4              not reported                 Breast, NOS

  synchronous_malignancy tissue_or_organ_of_origin   tumor_grade  \
0                     No               Breast, NOS  Not Reported
1                     No               Breast, NOS  Not Reported
2                     No               Breast, NOS  Not Reported
3                     No               Breast, NOS  Not Reported
4                     No               Breast, NOS  Not Reported

  year_of_diagnosis treatment_or_therapy               treatment_type    Gene  \
0              2011                  yes  Pharmaceutical Therapy, NOS  ZNF460
1              2013                   no       Radiation Therapy, NOS  ZNF460
2              2013                  yes  Pharmaceutical Therapy, NOS  ZNF460
3              2012                  yes       Radiation Therapy, NOS  ZNF460
4              2012                   no  Pharmaceutical Therapy, NOS  ZNF460

  Expression
0  -0.459712
1  -0.418185
2  -0.418185
3  -0.444168
4  -0.444168

[5 rows x 35 columns]

In [212]:
reshaped_df.to_csv("geneClinical.csv")